In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sheet_list = ['Engelska','Matematik','Svenska','Svenska som andraspråk']
#'Engelska','Matematik','Svenska','Svenska som andraspråk'

#xlsxfile.sheet_names
xlsxfile = pd.ExcelFile("riket2023_åk9_np.xlsx")
df = pd.read_excel(xlsxfile, sheet_list[3])
df.columns = ['Plats', 'Huvudman', 'Totalt(A-F)', 'Flickor(A-F)', 'Pojkar(A-F)', 'Totalt(A-E)', 'Flickor(A-E)', 'Pojkar(A-E)', 'Totalt(poäng)', 'Flickor(poäng)', 'Pojkar(poäng)']
df = df.drop(df.index[:8])
df.reset_index(drop=True)

,Plats,Huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt(A-E),Flickor(A-E),Pojkar(A-E),Totalt(poäng),Flickor(poäng),Pojkar(poäng)
0,Riket,Samtliga,14092,6447,7645,77.7,81.6,74.3,9.4,10.2,8.7
1,Riket,Kommunal,11963,5495,6468,75.9,80,72.4,9,9.9,8.3
2,Riket,Enskild,2122,949,1173,87.7,90.9,85.2,11.1,12,10.4
3,Riket,Skolverket,..,..,..,..,..,..,..,..,..