In [44]:
import pandas as pd
xlsxfile = pd.ExcelFile("riket2023_åk9_np.xlsx")
df = pd.read_excel(xlsxfile)
df.columns = ['Plats', 'Huvudman', 'Totalt(A-F)', 'Flickor(A-F)', 'Pojkar(A-F)', 'Totalt(A-E)', 'Flickor(A-E)', 'Pojkar(A-E)', 'Totalt(poäng)', 'Flickor(poäng)', 'Pojkar(poäng)']
df = df.drop(df.index[:8])
df = df.reset_index(drop=True)
#tar bort skolverket raden för sheet "Svenska som andraspråk" då den inte har någon data och är därför irrelevant
if (df.iloc[3,8] == '..'):
     df = df.drop(df.index[3])
df.head()

,Plats,Huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt(A-E),Flickor(A-E),Pojkar(A-E),Totalt(poäng),Flickor(poäng),Pojkar(poäng)
0,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17,16.8
3,Riket,Skolverket,49,24,25,100,100,100,18.5,18.9,18.2